.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Einleitung,
.Lebensraum,
.Rudeltiere,
.Verhalten {
  width: 100%;
}

.Inhaltsverzeichnis {
  float: left;
  border: 3px solid black;
  background-color: grey;
  color: black;
  height: 8.5cm;
  width: 40%;
}

.Fakten {
  float: right;
  border: 3px solid black;
  background-color: grey;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 50%;
  thead {
    text-align: center;
  }
  tbody {
    td {
      text-align: center;
    }
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
}
.table th {
  border: 3px solid black;
  background-color: red;
  padding: 10px;
  text-align: left;
}
.table td {
  border: 3px solid black;
  background-color: grey;
  text-align: left;
}

span.fett {
  font-weight: bold;
}
